@model AttributeVM
@{
    ViewBag.Title = "AddAttribute";
}

@using (Html.BeginForm())
{
<div>
    @Html.TextBoxFor(x => x.AttributeInstance.AttributeName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AttributeInstance.AttributeName)
</div>


    <div>
        <button class="btn btn-primary">
            Ekle
        </button>
    </div>
}

